* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
}

a {
  text-decoration: none;
}
/*
==============================================
common
==============================================
*/

.bold-text {
  font-family: "bitbit";
  font-size: 30px;
}

.md {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-row {
  display: flex;
  flex-direction: row;
}
.box-col {
  display: flex;
  flex-direction: column;
}

.flex-align {
  display: flex;
  align-items: center;
}

/*
==============================================
side-bar
==============================================
*/

.side-bar {
  width: 250px;
  height: 100vh;
  border-right: 1px solid gray;
  /* background-color: blue; */
  background-color: #f2f2f2;
  position: absolute;
  left: -250px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.side-bar-back {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.1;
}

.open {
  transform: translateX(250px);
}

.close {
  display: none;
}

.profile-back {
  width: 100%;
}

.profile {
  border: 3px solid black;
  border-radius: 20px;
  position: absolute;
  left: 62px;
  top: 30px;
}
.profile-name {
  width: 100%;
  margin-top: 73px;
}
.profile-icon {
  margin-left: 8px;
}

.rank {
  width: 80px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 5px;
  padding: 5px 5px;
  font-family: "bitbit";
  font-size: 20px;
  color: rgb(250, 250, 34);

  background: rgb(252, 162, 29);
  border: none;
  border-radius: 10px;
  z-index: 1;
}

.rank:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
  /* 7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1); */
  transition: all 0.3s ease;
}
.rank:hover {
  color: #000;
}
.rank:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.rank:active {
  top: 2px;
}

/*
==============================================
main
==============================================
*/
main {
  width: 100vw;
  height: 100vh;
}

.main-img {
  width: 100%;
}
.top {
  width: 500px;
  height: 200px;
  background-color: blue;
}
/*
==============================================
font-style
==============================================
*/

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}
